<section class="section">
  <div class="container">
    <div class="adv-section">
      <div class="adv-section-container">
        <h2 class="visually-hidden">Adv</h2>
        <div class="adv-text-link-wrapper">
          <p class="adv-text">
            Choose<span class="adv-accent"> your story</span>, making every
            moment unique. Time is your style, and we reveal it.
          </p>
          <a class="adv-link" href="#id-contact"
            ><span class="adv-link-text">Contact Us</span></a
          >
        </div>
      </div>
    </div>
    <div id="id-sale"></div>
  </div>
</section>
